.s1 .container{
    height: 200px;
    background-color: gray;
}



.s1 .hand{
    width: 50px;
    height: 200px;
    margin-left: 200px;
    transition: transform 6s steps(3, start);
}

.s1 .box{
   height: 50px;
   width: 50px;
   border-radius: 25px;
   background-color: aqua;
}

.s1 .container:hover .hand{
    transform: rotate(360deg);
}