.grid{
    display: grid;
    



    grid-template: 
    "a b" 100px
    "c d" 100px
    /100px 100px;

    align-items: center;
    justify-items: center;
}

.con1{
    background-color: aqua;
    align-self: stretch;
    grid-area: a;
}
.con2{
    background-color: blueviolet;
    grid-area: b;
    justify-self: end;
    align-items: end;
}
.con3{
    background-color: chartreuse;
    grid-area: c;
}

.con4{
    background-color: coral;
    grid-area: d;
}



/* 
.wrapper{
    display: grid;
    
    grid-template:
    "a b" 100px
    "c d" 100px
    / 100px 100px;
    align-items: center;
    
    /* grid-template: 
    "header header" 70px
    "aside main" minmax(200px, auto)
    "footer footer" 100px
    /250px 1fr;
    ; */

}

.item1{
    background-color: aqua;
    grid-area: a;
}

.item2{
    background-color: green;
    grid-area: b;
}

.item3{
    background-color: yellow;
    grid-area: c;
}

.item4{
    background-color: purple;
    grid-area: d;
}

/* .wrapper1{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: row;

}

.item1{
    background-color: aqua;
}

.item2{
    background-color: green;
}

.item3{
    background-color: yellow;
}

.item4{
    background-color: purple;
}
  */
.grid-box{
    display: grid;
    grid-template-columns:repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
}

.grid-box>div{
    width: 50px;
}


.grid-box>div:first-child{
    background-color: red;
    width: 100%;
    grid-column: 2 / span 2;
    grid-row: 2 / 3;
    
}

.grid-box>div:nth-child(2){
    background-color: green;
    width: 100%;
} */