@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');
.header-cafe-Bg-Box{
    height: 530px;
    background: #d4bfa0 url("../images/2.jpg") no-repeat -245px / cover;
}
    .header{
        height: 50px;
    }
    .img-btn-menu{
        background-image: url("../images/menu.PNG");
        background-repeat: no-repeat;
        background-position: left top;

        width: 24px;
        height: 24px;
        display: inline-block;
        overflow: hidden;
        text-indent: -999px;
    }

.cafe{
    height: 480px;
}

.cafe-title{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 26px;
    font-weight: normal;
    color: #fff;
    
    width: 248px;
    height: 45px;
    background-color: rgba(0, 0, 0,0.29);
    text-align: center;
    line-height: 45px;
    border-radius: 20px;
    
}
.btn-cafe-menu-all{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;

    display: inline-block;
    padding: 4px 10px;
    /* width: 83px;
    height: 25px; */
    background-color: orange;
    border-radius: 10px 0px 10px 0;
    text-align: center;
    line-height: 25px;
}
.rland{
    height: 530px;
    overflow: scroll;
    background-color: bisque;
}
    .btn-rland-location{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 40px;


        display: inline-block;
        background-color: rgba(110, 152, 9, 0.65);
        box-sizing: border-box;
        padding: 4px 10px;
        /* width: 173px;
        height: 40px; */
        text-align: left;
        padding-left: 40px;
        background:  url("../images/cafe.PNG");
        background-repeat: no-repeat;
        background-position: 20px center;
        background-size: cover;

    }