@import url(style.css);

.header{
    display: inline-block;
    width: 100%;
    height: 50px;
    background-color: #0006;

/* layout */
    position : fixed;
    top: 0px;
    z-index: 999;

/* item layout */

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;


}

.header-title{
    display: inline-block;
    font-family: 'segoe UI', "굴림", "돋움" sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
}



.img-btn-menu{
    background-image: url("../images/menu.PNG") ;
    background-repeat: no-repeat;
    background-position: left top;

    overflow: hidden;
    width: 24px;
    height: 20px;
    text-indent: -999px;
}


/* ============================================== */

.cafe{
    background-color: beige;
    background: #D4BFA0 url("../images/2.jpg") no-repeat -245px/cover;
    padding-top: 50px;
    height: 530px;
    position: relative;

    display: flex;
    flex-direction: column;

}

.top-menu>h1{
    display: none;
}


.top-menu{
    padding: 31px 0;
    background-color: black;
}
    .top-menu>ul{
        margin: 0;
        padding: 0;
        border : 1px solid blue;
        /* overflow: hidden; */

    }
        .top-menu li{
            list-style-type: none;
            width: 100px;
            height: 100px;
            border: 1px solid red;

            margin-left: 20px;

            float:left
            
            
        }

        .top-menu li:first-child{
            margin-left: 24px;
        }

        .top-menu li>img{
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .top-menu li>a{
            width: 100%;
            height: 100%;
            border: 1px solid green;
            text-align: center;
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #0006;
            color: #fff;

        
        }

        .top-menu li:hover>a{
            position: relative;
            top: -100%;
        }

/* ============================================= */

.rland{
    
    height: 530px;
    overflow: scroll;
    background-image: url(../images/5.jpg) no-repeat left top;
    background-color: white;
    margin-top: 20px;
}


.rland>article{
    cursor: pointer;
    display:grid;
    background-color: #fff;
    /* grid-template-columns: 100px 1fr; */
    /* grid-template-rows: 35px 65px; */
    
    grid-template:
    "img title" 35px
    "img content" 65px
    /100px 1fr;
    grid-column-gap: 20px;;
    padding: 10px 24px;
    
    transition:  background 5s,
                    opcity 1s,
                    left 1s;
    opacity: 0.5;
    position: relative;
    left: -80%;

}

.rland>article.get-in{
    opacity: 1;
    left: 0;

}


.rland>article:hover{
    background-color: yellowgreen;
}

.rland>article:nth-child(2n+1){
    display:grid;
    background-color: #fff;
    /* grid-template-columns: 100px 1fr; */
    /* grid-template-rows: 35px 65px; */
    
    grid-template:
    "title img" 35px
    "content img" 65px
    /1fr 100px;
    grid-column-gap: 20px;;
    
}

.rland>article:hover:nth-child(2n+1){
    background-color: yellowgreen;
}
.rland>article>h1{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    font-weight: normal;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* height: 100%;
    width: 100%; */

    /* layout
    grid-column:2 /span 1;
    grid-row:1 /span 1; */
    grid-area: title;
    align-self: center;

}
.rland>article>div{
    height: 100%;
    width: 100%;
    grid-column:1 /span 1;
    grid-row:1 /span 2;
    grid-area: img;

}

        .rland>article>div>img{
            width: 100%;
            height: 100%;
            border-radius: 20px 0 0 20px;
            object-fit: cover;

            transition: 600ms;
        }

        .rland>article:hover>div>img{
            border-radius: 0;
        }

        .rland>article:nth-child(2n+1)>div>img{
            border-radius: 0 20px 20px 0;
        }

        .rland>article:hover:nth-child(2n+1)>div>img{
            border-radius: 0;
        }

.rland>article>p{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;

    /* grid-column: 2 / span1;
    grid-row: 2/ span1; */
    grid-area: content;
    align-self: center;
}

/* ======================================== */

.btn-cafe-menu-all{
    /*text style*/

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 25px;

    /*박스 스타일*/
    display: inline-block;
    background-color: #D68814;
    /* width: 83px;
    height: 25px; */
    padding: 3px 14px;
    border-radius: 10px 0px 10px 0px;
}





.btn-rland-location{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    position: relative;

    /* background-color: rgba(110, 152, 9, 0.65); */
    display: inline-block;
    width: 173px;
    height: 40px;
    box-sizing: border-box;
    padding-left: 40px;
    background-image: url("../images/cafe.PNG") ; 
    background-repeat: no-repeat;
    background-color: rgba(110, 152, 9, 0.65);
    background-position: left 1px center;
    background-size: contain;

}




/* ------------------------------------------------------------- */


