@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Pen+Script&display=swap');

body,h1,p{
    margin: 0px;
}

a{
    text-decoration: none;
}





/* ----display----------------------- */
.d-none{
    display: none;
}

.d-inline-block{
    display: inline;
}
